<ion-view view-title="{{ 'acceuil_header' | translate }}" cache-view="false">
  <ion-pane>
    <div ng-app="starter">
      <ion-content>
        <ion-grid>

          <style type="text/css">
            input[readonly] {
              background-color: transparent !important;
              cursor: not-allowed;
            }
          </style>

          </ion-slide-box>
          <div class="row rowHome">
            <div class="col col-100" style="text-align: center;">
              <font size="4" face="Times New Roman" color=" #28a54c"><b>
                  <h2>Gestion Des Ventes<br><b><span style="color:#e30000">AGROLINE</span></b></font>
              </h2></b>
            </div>
          </div>

          <div class="row">

            <div class="col" ng-click="goToClient()" ng-if="permission('CLIENT')">
              <div class="card cardHome" style="background-color: #1EAC4E; color: white">
                <div class="item item-text-wrap">
                  <p style="text-align: center"><img src="./img/client.png" style="width:50%; height: 10%;"></p>
                </div>
                <p style="color: white;text-align: center;margin-top: 10px">
                  <a style="color: white;text-decoration:none;">Client</a>
                </p>
              </div>
            </div>

            <div class="col" ng-click="goToModuleVente()" ng-if="permission('PREPARATION DE COMMANDE')">
              <div class="bgsize">
                <div class="card cardHome" style="background-color:#1EAC4E; color: white;">
                  <div class="item item-text-wrap">
                    <div class="itemBody">
                      <p style="text-align: center"><img src="./img/visite.png"
                          style="width:30%; height: 20%;margin-bottom: 8%"></p>
                    </div>
                  </div>
                  <p style="color: white;text-align: center;margin-top: 10px">
                    <a style="color: white;text-decoration:none;">&nbsp;Vente/Destockage</a>
                  </p>

                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col" ng-if="permission('PLANNING DESTOCKEURS')">
              <div class="card cardHome" style="background-color: #28a54c; color: white; ">
                <div class="item item-text-wrap">
                  <p style="text-align: center"><img src="./img/plannings.jpg" style="width:45%; height: 1%;"></p>
                </div>
                <p style="color: white;text-align: center;margin-top: 10px">
                  <a href="#/app/planning" style="color: white;text-decoration:none;">&nbsp;Planning</a>
                </p>
              </div>
            </div>

            <div class="col" ng-if="permission('CONSULTATION SOLDE')">
              <div class="card cardHome" style="background-color: #28a54c; color: white">
                <div class="item item-text-wrap">
                  <p style="text-align: center"><img src="./img/soldes.jpg" style="width:45%; height: 40%;"></p>
                </div>
                <p style="color: white;text-align: center;margin-top: 10px">
                  <a href="#/app/consultationSole"
                    style="background-color: #28a54c;color: white;text-decoration:none;">&nbsp;C. solde</a>
                </p>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col" ng-if="permission('PLANNING UTILISATEURS')">
              <div class="card cardHome" style="background-color: #28a54c; color: white; ">
                <div class="item item-text-wrap">
                  <p style="text-align: center"><img src="./img/plannings.jpg" style="width:45%; height: 1%;"></p>
                </div>
                <p style="color: white;text-align: center;margin-top: 10px">
                  <a href="#/app/planninguser" style="color: white;text-decoration:none;">&nbsp;Planning utilisateur</a>
                </p>
              </div>
            </div>


          </div>

          <div class="row">
            <!-- ng-if="permission('PRISE DE COMMANDE')" -->
            <div class="col" ng-click="goToPdc()" ng-if="permission('PRISE DE COMMANDE')">
              <div class="card cardHome" style="background-color: #1EAC4E; color: white">
                <div class="item item-text-wrap">
                  <p style="text-align: center"><img src="./img/prise_de_commandes.jpg" style="width:50%; height: 3%;">
                  </p>
                </div>
                <p style="color: white;text-align: center;margin-top: 10px;">
                  <a style="color: white;text-decoration:none;">&nbsp;Prise de commande</a>
                </p>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col" ng-click="goToVersement()" ng-if="permission('RESTANT VERSEMENT')">
              <div class="card cardHome" style="background-color: #28a54c; color: white" >
                <div class="item item-text-wrap">
                  <p style="text-align: center"><img src="./img/versement.png" style="width:50%; height: 10%;"></p>
                </div>
                <p style="color: white;text-align: center;margin-top: 10px">
                  <a href="#/app/versements" style="color: white;text-decoration:none;">Restant vérsement</a>
                </p>
              </div>
            </div>

            <div class="col" ng-click="goToInventaire()" ng-if="permission('INVENTAIRE')">
              <div class="card cardHome" style="background-color: #28a54c; color: white">
                <div class="item item-text-wrap">
                  <p style="text-align: center"><img src="./img/inventaire.jpg" style="width:67%; height: 10%;"></p>
                </div>
                <p style="color: white;text-align: center;margin-top: 10px">
                  <a href="#/app/inventaires" style="color: white;text-decoration:none;">&nbsp;Inventaire</a>
                </p>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col" ng-click="goToVentedujour()">
              <div class="card cardHome" style="background-color: #28a54c; color: white">
                <div class="item item-text-wrap">
                  <p style="text-align: center"><img src="./img/vente.jpg" style="width:50%; height: 10%;"></p>
                </div>
                <p style="color: white;text-align: center;margin-top: 10px">
                  <a href="#/app/ventedujour" style="color: white;text-decoration:none;">Vente du jour</a>
                </p>
              </div>
            </div>
            <div class="col" ng-click="goToModulepointfinancier()" ng-if="permission('PREPARATION DE COMMANDE')">
              <div class="bgsize">
                <div class="card cardHome" style="background-color:#1EAC4E; color: white; ">
                  <div class="item item-text-wrap">
                    <div class="itemBody">
                      <p style="text-align: center"><img src="./img/fcfas.png"
                          style="width:30%; height: 30%;margin-bottom: 18%"></p>
                    </div>
                  </div>
                  <p style="color: white;text-align: center;margin-top: 10px">
                    <a style="color: white;text-decoration:none;">&nbsp;Point financier</a>
                  </p>

                </div>
              </div>
            </div>



          </div>
          <!-- taux de presence -->
          <div class="row">
            <div class="col" ng-click="goToTauxDePresences()">
              <div class="card cardHome" style="background-color: #28a54c; color: white">
                <div class="item item-text-wrap">
                  <p style="text-align: center"><img src="./img/taux.png" style="width:30%; height: 10%;"></p>
                </div>
                <p style="color: white;text-align: center;margin-top: 10px">
                  <a href="#/app/tauxdepresences" style="color: white;text-decoration:none;">Taux de présence</a>
                </p>
              </div>
            </div>
            <div class="col" ng-click="goToTauxDePresences()">
             
            </div>
          </div>
          

        </ion-grid>

      </ion-content>

    </div>
  </ion-pane>
</ion-view>