<!--
<ion-view view-title="AGROLINE-Vente" cache-view="false">
  <ion-pane>
    <div ng-app="starter">
      <ion-content>
        <style type="text/css">
          input[readonly] {
            background-color: transparent !important;
            cursor: not-allowed;
          }
        </style>
          <ion-slide-box show-pager="true" does-continue="true">
            <ion-slide>
              <div class="row">
                <div class="col" >
                  <div class="card" >
                    <div class="item item-text-wrap" style="background-color: #28a54c; color: white">
                      <p style="text-align: center;color: white"></p>
                      <p style="color: white"><i class="ion-arrow-up-a"></i>
                        &nbsp;<a href="#/app/envoi" style="color: white;text-decoration:none;" >Envoi</a>
                      </p>
                      <p style="text-align: end;color: white"><i class="ion-chevron-right"></i></p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" >
                    <div class="item item-text-wrap" style="background-color: #ffc900; color: white" >
                      <p style="text-align: center;color: white"></p>
                      <p style="color: white"><i class="ion-arrow-down-a"></i>
                        &nbsp;<a href="#/app/recuperation" style="color: white;text-decoration:none;" >Recupération</a>
                      </p>
                      <p style="text-align: end;color: white"><i class="ion-chevron-right"></i></p>
                    </div>
                  </div>
                </div>
              </div>
            </ion-slide>
          <ion-slide>
            <div class="row">
              <div class="col" >
                <div class="card" >
                  <div class="item item-text-wrap" style="background-color: #e42112; color: white">
                    <p style="text-align: center;color: white">2</p>
                    <p style="color: white"><i class="ion-earth"></i>
                      &nbsp;<a href="#/app/stocks" style="color: white;text-decoration:none;" >&nbsp;Mon Stock</a>
                    </p>
                    <p style="text-align: end;color: white"><i class="ion-chevron-right"></i></p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" >
                  <div class="item item-text-wrap" style="background-color: #ffc900; color: white" >
                    <p style="text-align: center;color: white">2</p>
                    <p style="color: white"><i class="ion-earth"></i>
                      &nbsp;<a href="#/app/stockgrossistes" style="color: white;text-decoration:none;" >&nbsp;St. Grossiste</a>
                    </p>
                    <p style="text-align: end;color: white"><i class="ion-chevron-right"></i></p>
                  </div>
                </div>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="row">
              <div class="col">
                <div class="card" >
                  <div class="item item-text-wrap" style="background-color: #6b46e5; color: white">
                    <p style="text-align: center;color: white">5</p>
                    <p style="color: white"><i class="ion-earth"></i>
                      &nbsp;<a href="#/app/articles" style="color: white;text-decoration:none;" >&nbsp;Mes articles</a>
                    </p>
                    <p style="text-align: end;color: white"><i class="ion-chevron-right"></i></p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" >
                  <div class="item item-text-wrap" style="background-color: #28a54c; color: white">
                    <p style="text-align: center;color: white">8</p>
                    <p style="color: white"><i class="ion-earth"></i>
                      &nbsp;<a href="#/app/clients" style="color: white;text-decoration:none;" >&nbsp;Mes clients</a>
                    </p>
                    <p style="text-align: end;color: white"><i class="ion-chevron-right"></i></p>
                  </div>
                </div>
              </div>
            </div>
        </ion-slide>
        </ion-slide-box>
        <div class="row rowHome">
          <div class="col col-100">Outil de gestion de vente AGROLINE</div>
        </div>
        <div class="row">
          <div class="col" >
            <div class="card cardHome" style="background-color: #e42112; color: white">
              <div class="item item-text-wrap" >
                <p style="text-align: center"><img src="./img/visite.png" style="width:30%; height: 20%;margin-bottom: 8%"></p>
              </div>
              <p style="color: white;text-align: center;margin-top: 10px">
                <a href="#/app/prcs" style="color: white;text-decoration:none;" >&nbsp;Prise de Commande</a>
              </p>
            </div>
          </div>
          <div class="col">
            <div class="card cardHome" style="background-color: #ffc900; color: white">
              <div class="item item-text-wrap">
                <p style="text-align: center"><img src="./img/prospect.png" style="width:50%; height: 10%;"></p>
              </div>
              <p style="color: white;text-align: center;margin-top: 10px">
                <a href="#/app/pds" style="color: white;text-decoration:none;" >&nbsp;Prise de  stock</a>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card cardHome" style="background-color: #6b46e5; color: white">
              <div class="item item-text-wrap">
                <p style="text-align: center"><img src="./img/prc.jpg" style="width:50%; height: 150%;margin-bottom: 10%"></p>
              </div>
              <p style="color: white;text-align: center;margin-top: 10px">
                <a href="#/app/facturations" style="color: white;text-decoration:none;" >&nbsp;Facture</a>
              </p>
            </div>
          </div>
          <div class="col">
            <div class="card cardHome" style="background-color: #28a54c; color: white">
              <div class="item item-text-wrap">
                <p style="text-align: center"><img src="./img/client.png" style="width:50%; height: 150%;margin-bottom: 10%"></p>
              </div>
              <p style="color: white;text-align: center;margin-top: 10px">
                <a href="#/app/listpointvente" style="color: white;text-decoration:none;" >&nbsp;Prospection</a>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card cardHome" style="background-color: #6b46e5; color: white">
              <div class="item item-text-wrap">
                <p style="text-align: center"><img src="./img/prc.jpg" style="width:50%; height: 150%;margin-bottom: 10%"></p>
              </div>
              <p style="color: white;text-align: center;margin-top: 10px">
                <a href="#/app/dechargements" style="color: white;text-decoration:none;" >Dechargement</a>
              </p>
            </div>
          </div>
          <div class="col">
            <div class="card cardHome" style="background-color: #28a54c; color: white">
              <div class="item item-text-wrap">
                <p style="text-align: center"><img src="./img/client.png" style="width:50%; height: 150%;margin-bottom: 10%"></p>
              </div>
              <p style="color: white;text-align: center;margin-top: 10px">
                <a href="#/app/versements" style="color: white;text-decoration:none;" >Versement</a>
              </p>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
  </ion-pane>
</ion-view>
-->
<ion-view view-title="{{ 'acceuil_header' | translate }}" cache-view="false">
  <ion-pane>
    <div ng-app="starter">
      <ion-content>
        <ion-grid>

          <style type="text/css">
            input[readonly] {
              background-color: transparent !important;
              cursor: not-allowed;
            }
          </style>
          <br>
          <div style="text-align:center;">
            <img src="./img/agroline.png" position="absolute;" width="107px;" height="58px;">
          </div>
          <div>
            <div style=" width: 470px;height: 350px;">
              <ion-slide-box show-pager="true" does-continue="true">
                <ion-slide>
                  <br>

                  <div class="row">
                    <div class="col">

                      <div class="card">
                        <div class="item item-text-wrap" style="background-color: #e30000; color: white">
                          <div class="itemheader">
                            <p style="color: white"><i class="ion-cube"></i>
                              &nbsp;<a href="#/app/stocks" style="color: white;text-decoration:none;">&nbsp;Mon
                                Stock</a>
                            </p>
                            <p style="text-align: end;color: white"><i class="ion-chevron-right"></i></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="item item-text-wrap" style="background-color: #e30000; color: white">
                          <p style="color: white"><i class="ion-person"></i>
                            &nbsp;<a href="#/app/clients" style="color: white;text-decoration:none;">&nbsp;Mes
                              clients</a>
                          </p>
                          <p style="text-align: end;color: white"><i class="ion-chevron-right"></i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </ion-slide>
                <ion-slide>
                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <div class="item item-text-wrap" style="background-color: #28a54c; color: white">
                          <p style="text-align: center;color: white"></p>
                          <p style="color: white"><i class="ion-arrow-up-a"></i>
                            &nbsp;<a href="#/app/envoi" style="color: white;text-decoration:none;">Envoi</a>
                          </p>
                          <p style="text-align: end;color: white"><i class="ion-chevron-right"></i></p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="item item-text-wrap" style="background-color: #ffc900; color: white">
                          <p style="text-align: center;color: white"></p>
                          <p style="color: white"><i class="ion-arrow-down-a"></i>
                            &nbsp;<a href="#/app/recuperation"
                              style="color: white;text-decoration:none;">Recupération</a>
                          </p>
                          <p style="text-align: end;color: white"><i class="ion-chevron-right"></i></p>

                        </div>
                      </div>
                    </div>
                  </div>
                </ion-slide>
                <ion-slide>
                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <div class="item item-text-wrap" style="background-color: #e30000; color: white">
                          <p style="color: white"><i class="ion-earth"></i>
                            &nbsp;<a href="#/app/stockgrossistes" style="color: white;text-decoration:none;">&nbsp;St.
                              Grossiste</a>
                          </p>
                          <p style="text-align: end;color: white"><i class="ion-chevron-right"></i></p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="item item-text-wrap" style="background-color: #e30000; color: white">
                          <p style="color: white"><i class="ion-earth"></i>
                            &nbsp;<a href="#/app/articles" style="color: white;text-decoration:none;">&nbsp;Mes
                              articles</a>
                          </p>
                          <p style="text-align: end;color: white"><i class="ion-chevron-right"></i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </ion-slide>
              </ion-slide-box>
              <div style=" background-color:white;">
                <div class="row rowHome">
                  <div class="col col-100" style="text-align: center;">
                    <font size="4" face="Times New Roman" color="green"><b>
                        <h3>Gestion Des Ventes<br>AGROLINE</font>
                    </h3></b>
                  </div>
                </div>
                <img src="./img/tomato.jpg" class=img-responsive  position="absolute;" width = "100%;" height="105%;" align="center;" overflow= "scroll;">
            </div> 
            </div>
          </div>
          <div class="row" style="color: white;text-align: center;margin-top: 10px">
            <div class="col">
              <div class="card cardHome" style="background-color: #28a54c; color: white">
                <div class="item item-text-wrap">
                  <p style="text-align: center"><img src="./img/client.png" style="width:50%; height: 10%;"></p>
                </div>
                <p style="color: white;text-align: center;margin-top: 10px">
                  <a href="#/app/clients" style="color: white;text-decoration:none;">Client</a>
                </p>
              </div>
            </div>
            <div class="col">
              <div class="bgsize">
                <div class="card cardHome" style="background-color: #28a54c; color: white;">
                  <div class="item item-text-wrap">
                    <div class="itemBody">
                      <p style="text-align: center"><img src="./img/visite.png"
                          style="width:30%; height: 20%;margin-bottom: 8%"></p>
                    </div>
                  </div>
                  <p style="color: white;text-align: center;margin-top: 10px">
                    <a href="#/app/prcs" style="color: white;text-decoration:none;">&nbsp;Prise de Commande</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card cardHome" style="background-color: #28a54c; color: white">
                <div class="item item-text-wrap">
                  <p style="text-align: center"><img src="./img/marchandise.png" style="width:50%; height: 3%;"></p>
                  <!-- <p style="text-align: center;color: #e30000;font-size: large;">2</p>-->
                  <span ng-if="data.prcs && data.prcs.length > 0" class="badge badge-danger"
                    style="background-color: #e30000 !important;color: white;">{{data.prcs.length}}</span>
                </div>
                <p style="color: white;text-align: center;margin-top: 10px;">
                  <a href="#/app/pds" style="color: white;text-decoration:none;">Récupération marchandises</a>
                </p>
              </div>
            </div>
            <div class="col">
              <div class="card cardHome" style="background-color: #28a54c; color: white">
                <div class="item item-text-wrap">
                  <p style="text-align: center"><img src="./img/prc.jpg"
                      style="width:50%; height: 130%;margin-bottom: 2%"></p>
                  <span ng-if="data.factures && data.factures.length > 0" class="badge badge-danger"
                    style="background-color: #e30000 !important;color: white;">{{data.factures.length}}</span>
                </div>
                <p style="color: white;text-align: center;margin-top: 10px">
                  <a href="#/app/facturations" style="color: white;text-decoration:none;">&nbsp;Factures</a>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card cardHome" style="background-color: #28a54c; color: white">
                <div class="item item-text-wrap">
                  <p style="text-align: center"><img src="./img/dechargement.png" style="width:40%; height: 5%;"></p>
                </div>
                <p style="color: white;text-align: center">
                  <a href="#/app/dechargements" style="color: white;text-decoration:none;">&nbsp;Déchargement</a>
                </p>
              </div>
            </div>
            <div class="col">
              <div class="card cardHome" style="background-color: #28a54c; color: white">
                <div class="item item-text-wrap">
                  <p style="text-align: center"><img src="./img/versement.png" style="width:50%; height: 10%;"></p>
                </div>
                <p style="color: white;text-align: center">
                  <a href="#/app/versements" style="color: white;text-decoration:none;">Restant vérsement</a>
                </p>
              </div>
            </div>
          </div>
        </ion-grid>
      </ion-content>
    </div>
  </ion-pane>
</ion-view>