<ion-view title="Mes clients" cache-view="false">
  <div ng-app="starter">
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Searchbar</ion-title>
      </ion-toolbar>



    </ion-header>
    <ion-content padding="true" class="has-header">
      <div class="row" style="align-content: center;">
        <div class="col">
          <label class="item-input-wrapper" style=" width: 120%;height: 100%;">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="text" ng-model="data.searchValue" placeholder="Taper un text"
              style="background-color: rgb(252, 249, 249); width: 100%; height: 75%;">
          </label>

        </div>
        <div class="col">
          <button slot="end" ng-click="resetSearch()">
            x
          </button>
          <button slot="end" ng-click="recherche()">
            Chercher
          </button>
        </div>
      </div>


      <!-- <label class="item-input-wrapper" style="height: 6%;" >
        <i class="icon ion-ios-search placeholder-icon"></i>
        
        <input style="background-color: rgb(209, 208, 208); width: 80%; height: 35%; text-transform: uppercase;" type="text" ng-model="data.search"  placeholder="rechercher">
        <ion-toolbar>
          <button style="color: gray;" ng-click="recherche()">
          Search
        </button>
      </ion-toolbar>
      </label>-->
      <br>
      <style type="text/css">
        input[readonly] {
          background-color: transparent !important;
          cursor: not-allowed;
        }

        .search {
          --background: #1EAC4E;
          --color: white;

        }

        .small_button {
          width: 50% !important;
          height: 50px !important;
          margin-left: 5px;
        }

        .footer-button {
          margin-bottom: 10px;
          height: 50px !important;
        }

        .ml {
          margin-left: 5px;
        }

        .header {

          margin-top: 5px;
          margin-bottom: 10px;
        }

        .content-div {
          background: #1EAC4E !important;
        }

        .content-div-row {
          text-align: center !important;
          border: 3px grey dashed !important;
        }

        .bg {
          background-color: #ef473a(4, 0, 255) !important;
        }

        .map {
          height: 150px !important;
        }

        img {
          width: 200px;
          transition: transform .4s;
        }

        img:hover {
         
          -ms-transform: scale(11) translate(10px,10px);
          /* IE 9 */
          -webkit-transform: scale(11) translate(10px,10px);
          /* Safari 3-8 */
          transform: scale(11) translate(10px,10px);
          overflow: hidden;
         
        }
      </style>

      <div class="list" ng-repeat="cli in data.clients">

        <!-- <div class="list" ng-repeat="cli in data.ListRechercheClients | filter:motcle">-->
        <a class="item item-thumbnail-left">

          <img ng-if="!cli.photo" src="./img/client.png" style="width:10%; height: 10%;">
          <img ng-if="cli.photo" src="http://test-test.h-tsoft.com/{{cli.photo}}" style="width:10%; height: 10%;">
          <div class="row">
            <div class="col">Coordonnees</div>
            <div class="col">
              <p ng-if="cli.position && cli.position!=='' && cli.position!==',' && cli.position!==' '"
                style="white-space: pre-line;" ng-click="goTogoogle(cli.position)">{{ cli.position}}</p>
              <span ng-if="!cli.position || cli.position=='' || cli.position==',' || cli.position==' '"
                class="badge badge-danger" style="background-color:  #ef473a !important;color: white;">Pas de
                coords.</span>
            </div>
          </div>

          <div class="row">
            <div class="col">Raison sociale</div>
            <div class="col">
              <p style="white-space: pre-line;">{{ cli.nom }}</majuscule>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col">Code</div>
            <div class="col">
              <p style="white-space: pre-line;">{{ cli.codeClient }}</p>
            </div>
          </div>

          <div class="row">

            <div class="col">Adresse</div>
            <div class="col">
              <p style="white-space: pre-line;">{{ cli.adresse }}</p>
            </div>
          </div>

          <div class="row">

            <div class="col">Marche</div>
            <div class="col">
              <p style="white-space: pre-line;">{{ cli.marche }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col">Telephone 1</div>
            <div class="col">
              <p style="white-space: pre-line;">{{ cli.telephone }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">Telephone 2</div>
            <div class="col">
              <p style="white-space: pre-line;">{{ cli.telephone2 }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">Région</div>
            <div class="col">
              <p style="white-space: pre-line;">{{ cli.region }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">Departement</div>
            <div class="col">
              <p style="white-space: pre-line;">{{ cli.departement }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">Localité</div>
            <div class="col">
              <p style="white-space: pre-line;">{{ cli.localite}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col">Point de vente</div>
            <div class="col">
              <p style="white-space: pre-line;">{{ cli.typepointvente}}</p>
            </div>
          </div>

          <!-- <div class="row" >
              <div class="col">
                <button slot="end" ng-click="getAdresseGoogleNew(cli)">
                  @ Google
                  <i class="icon ion-refresh"></i>
                </button>
              </div>
              <div class="col">
                <p text-wrap style="white-space: pre-line;">{{cli.adresseGoogle}}</p>
              </div>
          </div> -->

        </a>
        <div class="row content-div" style="justify-content: space-between;">

          <div class="col-4">
            <button class="button button-clear button-assertive" style="color: white; ">
              <button style="margin-left: -25px; position: absolute;  border: none;height: 10%; width: 70px;"
                ng-click="goTocaClient(cli)">
                Chiffre d'affaire
              </button>
            </button>
          </div>



          <div class="col-4">
            <button class="button button-clear button-assertive" style="color: white;">
              <button style="margin-left: -45px; position: absolute; border: none; height: 10%; width: 70px;"
                ng-click="goToNewCoordonnees(cli)">
                Map
              </button>
            </button>
          </div>

          <div class="col-4">

            <button class="button button-clear button-assertive" style="color: white;">
              <button style=" margin-left: -70px; position: absolute; border: none; height: 10%; width: 70px;"
                ng-click="goToNewClient(cli, 'edit')">
                Modifier
              </button>
            </button>
          </div>

        </div>
      </div>
  </div>


  </ion-content>
  <button class="button button-float bg" ng-click="goToNewClient(null,'new')">
    <i class="icon ion-plus"></i>
  </button>
  </div>
</ion-view>