<ion-view view-title="Crédit client" cache-view="false">
  <ion-pane>
    <div ng-app="starter">

      <ion-content>

        <style type="text/css">
          input[readonly] {
            background-color: transparent !important;
            cursor: not-allowed;
          }

          .small_button {
            width: 50% !important;
            height: 50px !important;
            margin-left: 5px;
          }

          .footer-button {
            margin-bottom: 10px;
            height: 50px !important;
          }

          .ml {
            margin-left: 5px;
          }

          .header {

            margin-top: 5px;
            margin-bottom: 10px;
          }

          .content-div {
            background: grey !important;
          }

          .content-div-row {
            text-align: center !important;
            border: 3px grey dashed !important;
          }

          .edit {
            background: red !important;
          }

          .map {
            height: 200px !important;
          }

          table {
            width: 300px;
            color: white;
          }

          table,
          th,
          td {
            border: solid 1px white;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
            color: white;
            margin-left: 10px;
          }
        </style>
        <div>
          <a class="item item-thumbnail-left">
            <div class="row">
              <div class="col" style="float: left !important;">MONTANT</div>
              <div class="col">
                <p>{{ number(data.listcreditclient.montant) }}</p>
              </div>
            </div>
          </a>
        </div>

        <div class="list">
          <div class="row content-div">

            <div class="col" ng-click="goToDetailFact(fact.codeFacture)">
              <span style="font-size: 20px !important;font-weight: bold;">DETAILS</span>
            </div>

          </div>

          <div class="list" ng-repeat="fact in data.listcreditclient.details | filter:motcle">
            <a class="item item-thumbnail-left">
              <img src="./img/prc.jpg" style="width: 30px !important;height: 30px !important;">

              <div class="row">
                <div class="col">Adresse</div>
                <div class="col">
                  <p>{{ fact.adresse }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col">Client</div>
                <div class="col">
                  <p>{{ fact.client }}</p>
                </div>
              </div>

            
              <div class="row">
                <div class="col">Marché</div>
                <div class="col">
                  <p>{{ fact.marche }}</p>
                </div>
              </div>

              <div class="row">
                <div class="col">Telephone</div>
                <div class="col">
                  <p>{{ fact.telephone }}</p>
                </div>
              </div>

              <div class="row">
                <div class="col">Montant</div>
                <div class="col">
                  <p>{{ number(fact.montant) }}</p>
                </div>
              </div>

            
            </a>

          </div>


      </ion-content>

    </div>

  </ion-pane>
</ion-view>