<ion-view title="Detail PDS" cache-view="false">
  <div ng-app="starter">

    <ion-content padding="true" class="has-header">
      <ion-grid>
        <style type="text/css">
          input[readonly] {
            background-color: transparent !important;
            cursor: not-allowed;
          }

          .small_button {
            width: 50% !important;
            height: 50px !important;
            margin-left: 5px;
          }

          .footer-button {
            margin-bottom: 10px;
            height: 50px !important;
          }

          .ml {
            margin-left: 5px;
          }

          .header {

            margin-top: 5px;
            margin-bottom: 10px;
          }

          .content-div {
            background: grey !important;
          }

          .content-div-row {
            text-align: center !important;
            border: 3px grey dashed !important;
          }

          .edit {
            background: red !important;
          }

          .map {
            height: 200px !important;
          }

          .rendu {
            background: #28a54c !important;
            color: white;
          }
        </style>

        <br>
        <div class="card list" ng-if="!data.verser">

          <a class="item item-icon-left">
            <i class="icon ion-qr-scanner"></i>

            Code : {{data.dechargement.codePDS}}
          </a>

          <a class="item item-icon-left">

            <i class="icon ion-person"></i>
            Grossiste : {{data.dechargement.grossiste}}
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-android-call"></i>
            Téléphone : {{data.dechargement.telephone}}
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-location"></i>
            Adresse : {{data.dechargement.adresse}}
          </a>



          <a class="item item-icon-left">
            <i class="icon ion-cash"></i>
            Montant total : {{number(data.dechargement.montantTotal)}}
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-cash"></i>
            Montant ventes : {{number(data.dechargement.montantVentes)}}
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-cash"></i>
            Montant comptant : {{number(data.dechargement.montantComptant)}}
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-cash"></i>
            Montant credit : {{number(data.dechargement.montantCredit)}}
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-calendar"></i>
            Date : {{data.dechargement.dateAjout | date :  "dd.MM.y"}}
          </a>

        </div>

        <br>

        <div class="row header list content-div" ng-if="!data.verser">
          <div class="col" style="text-align: center;"> Article</div>
          <div class="col" style="text-align: center;">Qt.prise</div>
          <div class="col" style="text-align: center;">Qt a rendre</div>
          <div class="col" style="text-align: center;">Qt Rendue</div>
          <div class="col" style="text-align: center;">M.comptant</div>
          <div class="col" style="text-align: center;">M.credit</div>
          <div class="col" style="text-align: center;">Action</div>


        </div>

        <div class="row list" ng-repeat="d in data.dechargement.details | filter:motcle" ng-if="!data.verser">

          <div class="col content-div-row" ng-if="d.idMotif !== 'edit'"
            ng-click="showPopUp(d.article, 1, d.codeArticle)">
            {{d.codeArticle}}
          </div>

          <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'"
            ng-click="showPopUp(d.article, 1, d.codeArticle)">
            {{d.codeArticle}}
          </div>
          <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'">{{d.quantitePrise}}</div>
          <div class="col content-div-row" ng-if="d.idMotif !== 'edit'">{{d.quantitePrise}}</div>

          <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'">{{d.quantiteArendre}}</div>
          <div class="col content-div-row " ng-if="d.idMotif !== 'edit'">{{d.quantiteArendre}}</div>

          <div class="col content-div-row rendu" placeholder="0">{{d.quantiteRendue}}</div>

          <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'">{{number(d.montantComptant)}}</div>
          <div class="col content-div-row " ng-if="d.idMotif !== 'edit'">{{number(d.montantComptant)}}</div>

          <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'">{{number(d.montantCredit)}}</div>
          <div class="col content-div-row" ng-if="d.idMotif !== 'edit'">{{number(d.montantCredit)}}</div>

          <div class="col content-div-row" ng-if="d.idMotif !== 'edit'" ng-click="editDetail(d, 'edit')">

            <i class="icon ion-edit"></i>

          </div>

          <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'" ng-click="editDetail(d, 'edit')">

            <i class="icon ion-edit"></i>

          </div>

        </div>
        <div class="row header list content-div" ng-if="!data.verser">
          <div class="col" style="text-align: center;">Total</div>
          <div class="col" style="text-align: center;"></div>
          <div class="col" style="text-align: center;"></div>
          <div class="col" style="text-align: center;"></div>
          <div class="col" style="text-align: center;">{{number(data.montantComptantTotal)}}</div>
          <div class="col" style="text-align: center;">{{number(data.montantCreditTotal)}}</div>
          <div class="col" style="text-align: center;"></div>
        </div>

        <br>

        <label class="item item-input" ng-if="!data.verser">
          <span class="input-label">Montant verser</span>
          <input type="number" ng-model="data.montantVerse" placeholder="0">
        </label>

        <br>
        <br>
        <br>


        <!-- <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <p style="color: white;text-align: center;margin-top: 10px; background-color: #28a54c; text-align: center;  padding: 10px;
          border: 1px solid #28a54c;
          border-radius: 5px;
          margin-bottom: 20px;">
            <label>
              Historique de versement
            </label>
          </p>

        </ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>
        <div class="col content-div-row">

          <label>
            <div class="col" style="background-color: #28a54c;">Montant total: </div>
            <div class="col content-div-row">
              <p>{{data.montantCreditTotal}}</p>
            </div>
          </label>

          <label>
            <div class="col" style="background-color: #28a54c;">Date: </div>
            <div class="col content-div-row">
              <p>{{data.dechargement.dateAjout | date :  "dd.MM.y" }}</p>
            </div>
          </label>



        </div>
      </ion-card-content>
    </ion-card>-->










        <div class="col" ng-if="!data.verser">
          <button class="button button-clear button-assertive" style="color: white;">
            Valider
          </button>
        </div>


        <div ng-if="data.verser">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Code secret</span>
              <input type="text" id="code" ng-model="data.code">
            </label>
          </div>

          <div class="row">
            <div class="col">
              <button ng-click="validerVersment()" class="button button-block button-assertive footer-button"
                color="danger" type="submit" name="submit"><span style="color:white">Valider</span></button>
            </div>

            <div class="col">
              <button ng-click="annulerVersement()" class="button button-block button-assertive footer-button"
                color="danger" type="submit" name="submit"><span style="color:white">Annuler</span></button>
            </div>

          </div>
        </div>

      </ion-grid>
    </ion-content>
  </div>
  <div class="bar bar-footer footer-button" ng-if="!data.verser">
    <button ng-click="submit()" class="button button-block button-assertive footer-button" color="danger" type="submit"
      name="submit"><span style="color:white">Valider</span></button>
  </div>
</ion-view>