<ion-view title="Déchargement" cache-view="false">
    <div ng-app="starter">
  
      <ion-content padding="true" class="has-header">
        <style type="text/css">
          input[readonly] {
            background-color: transparent !important;
            cursor: not-allowed;
          }
          .small_button{
              width: 50% !important;
              height: 50px !important;
              margin-left: 5px;
          }
          .footer-button {
            margin-bottom: 10px;
            height: 50px !important;
          }
          .ml{
            margin-left: 5px;
          }
          .header {
  
            margin-top: 5px;
            margin-bottom: 10px;
          }
          .content-div {
            background: #1EAC4E !important;
          }
          .content-div-row {
            text-align: center !important;
            border: 3px grey dashed !important;
          }
          .bg {
              background-color: #e42112 !important;
            }
 
        </style>
        <div class="list" ng-repeat="dchgmnt in data.dechargements | filter:motcle">
          <a class="item item-thumbnail-left">
            <img src="./img/prc.jpg">
  
            <div class="row">
              <div class="col">Code</div>
              <div class="col"><p>{{ dchgmnt.codePDS }}</p></div>
            </div>

            <div class="row">
              <div class="col">Grossite</div>
              <div class="col"><p>{{ dchgmnt.grossiste }}</p></div>
            </div>
           
           
            <div class="row">
              <div class="col">Date ajout</div>
              <div class="col"><p>{{dchgmnt.dateAjout | date :  "dd.MM.y" }}</p></div>
            </div>
  
          </a>

        <div class="row content-div">
  
          <div class="col">
  
          </div>
  
          <div class="col"  ng-click="goToDetailsDechargement(dchgmnt.codePDS)" >
            <button class="button button-clear button-assertive" style="color: white;">
              Details
            </button>
        </div>
  
  
        <div class="col" ng-click="goToDechargement(dchgmnt.codePDS)">
            <button class="button button-clear button-assertive" style="color: white;">
                Decharger
            </button>
          </div>
  
      </div>
  
      </div>
  
      </ion-content>
    </div>
    </ion-view>
  