<ion-view title="Details Taux" cache-view="false">
  <div ng-app="starter">

    <ion-content padding="true" class="has-header">
      <style type="text/css">
        input[readonly] {
          background-color: transparent !important;
          cursor: not-allowed;
        }

        .small_button {
          width: 50% !important;
          height: 50px !important;
          margin-left: 5px;
        }

        .footer-button {
          margin-bottom: 10px;
          height: 50px !important;
        }

        .ml {
          margin-left: 5px;
        }

        .header {

          margin-top: 5px;
          margin-bottom: 10px;
        }

        .content-div {
          background: grey !important;
        }

        .content-div-row {
          text-align: center !important;
          border: 3px grey dashed !important;
        }

        .edit {
          background: red !important;
        }

        .map {
          height: 200px !important;
        }
      </style>


      <div class="card list">

        <a class="item item-icon-left">
          <i class="icon ion-ios-calendar-outline"></i>
          Date & heure : {{details.dateAjout}}
        </a>

        <a class="item item-icon-left">
          <i class="icon ion-person"></i>
          Client : {{details.client}}
        </a>

        <a class="item item-icon-left">
          <i class="icon ion-location"></i>
          Marche : {{details.marche}}
        </a>

        <a class="item item-icon-left">
          <i class="icon ion-asterisk"></i>
          Opération : {{details.operation}}
        </a>

        <a class="item item-icon-left">
          <i class="icon ion-person"></i>
          Fournisseur : {{details.raisonSociale}}
        </a>

        <a class="item item-icon-left">
          <i class="icon ion-location"></i>
          Adresse Fournisseur : {{details.adresse}}
        </a>
        
        <a class="item item-icon-left">
          <i class="icon ion-android-call"></i>
          Téléphone Fournisseur : {{details.telephone}}
        </a>


      </div>


      <div class="row" ng-if="itemEdit">
        <div class="col">Code : {{ itemEdit.codeArticle }}</div>
        <div class="col">Libelle : {{ itemEdit.libelle }}</div>
      </div>

      <div class="row">

        <div class="col" ng-if="edit == true">
          <input type="checkbox" name="present" ng-model="itemEdit.present" checked>
          <label for="present">Présent</label>
        </div>

        <div class="col" ng-if="itemEdit.categorie === 'TOMATE' ">
          <input type="checkbox" name="ouvert" ng-model="itemEdit.ouvert" checked>
          <label for="ouvert">Ouvert</label>
        </div>
      </div>



      <div class="row" ng-if="edit == true">
        <div class="col" ng-if="action == 'edit'">
          <button ng-click="valideEdit()" class="button button-block button-assertive footer-button" color="danger"
            type="submit" name="submit"><span style="color:white">Modifier</span></button>
        </div>
        <div class="col">
          <button ng-click="annulerEdit()" class="button button-block button-assertive footer-button" color="danger"
            type="submit" name="submit"><span style="color:white">Annuler</span></button>
        </div>

      </div>



      <div class="row" style="margin-top: 10px;">

        <div class="col" style="font-size: 130%;">Details Taux de Présence</div>

      </div>


      <div class="row header list">
        <div class="col" style="text-align: center;">Article</div>
        <div class="col" style="text-align: center;">Present</div>
        <div class="col" style="text-align: center;">Ouvert</div>
        <!-- <div class="col" style="text-align: center;">Edit</div> -->
        <!-- <div class="col" style="text-align: center;">Sup.</div> -->

      </div>

      <div class="row list" ng-repeat="d in details.details | filter:motcle">

        <div class="col content-div-row" ng-if="d.idMotif !== 'edit'" ng-click="showPopUp(d.libelle, 1, d.codeArticle)">
          {{d.codeArticle}}
        </div>
        <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'"
          ng-click="showPopUp(d.libelle, 1, d.codeArticle)">
          {{d.codeArticle}}
        </div>


        <div class="col content-div-row" ng-if="d.idMotif !== 'edit'">

          <span ng-if="d.present === 1">Oui</span>
          <span ng-if="d.present !== 1">Non</span>

        </div>

        <div class="col content-div-row edit" ng-if="d.idMotif == 'edit'">

          <span ng-if="d.present === 1">Oui</span>
          <span ng-if="d.present !== 1">Non</span>

        </div>


        <div class="col content-div-row" ng-if="d.idMotif !== 'edit'">

          <span ng-if="d.ouvert === 1">Oui</span>
          <span ng-if="d.ouvert !== 1">Non</span>

        </div>

        <div class="col content-div-row edit" ng-if="d.idMotif == 'edit'">

          <span ng-if="d.ouvert === 1">Oui</span>
          <span ng-if="d.ouvert !== 1">Non</span>

        </div>


        <!-- <div class="col content-div-row" ng-if="d.idMotif !== 'edit'" ng-click="editDetail(d, 'edit')">
          <i class="icon ion-edit" ></i>
       </div>

       <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'" ng-click="editDetail(d, 'edit')">
          <i class="icon ion-edit"></i>
       </div> -->

        <!-- <div class="col content-div-row" ng-if="d.idMotif !== 'edit'" ng-click="editDetail(d, 'sup')">
        <i class="icon ion-trash-a" ></i>
      </div>

      <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'" ng-click="editDetail(d, 'sup')">
            <i class="icon ion-trash-a"></i>
      </div> -->


      </div>


    </ion-content>

  </div>
</ion-view>