<ion-view view-title="Details Facture" cache-view="false">
  <ion-pane>
    <div ng-app="starter">

      <ion-content>

        <style type="text/css">
          input[readonly] {
            background-color: transparent !important;
            cursor: not-allowed;
          }

          .small_button {
            width: 50% !important;
            height: 50px !important;
            margin-left: 5px;
          }

          .footer-button {
            margin-bottom: 10px;
            height: 50px !important;
          }

          .ml {
            margin-left: 5px;
          }

          .header {

            margin-top: 5px;
            margin-bottom: 10px;
          }

          .content-div {
            background: grey !important;
          }

          .content-div-row {
            text-align: center !important;
            border: 3px grey dashed !important;
          }

          .edit {
            background: red !important;
          }

          .map {
            height: 200px !important;
          }
        </style>



        <div class="card list" ng-if="edit == false && data.encaisser==false">

          <a class="item item-icon-left">
            <i class="icon ion-person"></i>
            Client : {{data.detailsfactures.client}}
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-android-call"></i>
            Téléphone : {{data.detailsfactures.telephone}}
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-location"></i>
            Adresse : {{data.detailsfactures.adresse}}
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-cash"></i>
            Montant : {{data.detailsfactures.montant}}
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-android-download"></i>
            Montant encaissé : {{data.detailsfactures.montantEncaisse}}
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-minus-circled"></i>
            Montant restant : {{data.detailsfactures.montantRestant}}
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-compass"></i>
            Delai paiement: {{data.detailsfactures.delaiPaiement}}&nbsp;jour(s)
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-calendar"></i>
            Date : {{data.detailsfactures.dateAjout | date :  "dd.MM.y"}}
          </a>


        </div>

        <div class="row" style="margin-top: 10px;" ng-if="edit == true && detailEncaisse == false " >
          <div class="col" style="font-size: 130%;">Modification details Facture</div>
        </div>

        <div class="row" style="margin-top: 10px;" ng-if="edit == true && detailEncaisse == true" >
          <div class="col" style="font-size: 130%;">Suppression encaissement</div>
        </div>

        <div class="row" ng-if="edit == true && data.encaisser==false">


          <div class="col" ng-if="action == 'edit'">
            <button class="button button-block button-assertive"
              cancel-button="{{ 'fichevisite_select_pv_return' | translate }}"
              reset-button="{{ 'fichevisite_select_pv_cancel' | translate }}"
              cancel-search-button="{{ 'fichevisite_select_pv_clear' | translate }}"
              search-placeholder="{{ 'fichevisite_select_pv_search' | translate }}" modal-select=""
              ng-model="data.artcilechoisit" options="data.listarticles" option-getter="getOptArticle(option)"
              modal-button-left="{{ 'fichevisite_select_pv_return' | translate }}" modal-title="Selection"
              has-search="true">
              Article
              <div class="option">
                <div class="row">

                  <div class="col">
                    <img src="http://test-test.h-tsoft.com/{{option.image}}" style="width:40%; height: 70%;">
                  </div>

                  <div class="col" style="font-size: 10px;">
                    <label
                      style="font-weight: bold;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Code
                      article :</label> {{option.code}}<br />
                    <label
                      style="font-weight: bold;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Libelle
                      article :</label> {{option.libelle}}
                  </div>

                </div>


              </div>

            </button>

          </div>

          <div class="col" ng-if="edit == true && detailEncaisse == false">
            <button class="button button-block button-assertive"
              cancel-button="{{ 'fichevisite_select_pv_return' | translate }}"
              reset-button="{{ 'fichevisite_select_pv_cancel' | translate }}"
              cancel-search-button="{{ 'fichevisite_select_pv_clear' | translate }}"
              search-placeholder="{{ 'fichevisite_select_pv_search' | translate }}" modal-select=""
              ng-model="data.motifchoisit" options="data.listmotifs" option-getter="getOptMotif(option)"
              modal-button-left="{{ 'fichevisite_select_pv_return' | translate }}" modal-title="Selection"
              has-search="true">
              Motif
              <div class="option">
                <h2> {{option.libelle}}</h2>
              </div>
            </button>
          </div>
        </div>

        <div class="row" ng-if="initial == true || edit == true">

          <div class="col" ng-if="detailEncaisse == false">{{ data.artcilechoisit.libelle }}</div>

          <div class="col">{{ data.motifchoisit.libelle }}</div>

        </div>

        <div class="list" ng-if="edit == true && detailEncaisse == false">
          <label class="item item-input">
            <span class="input-label">Quantité</span>
            <input type="number" id="quantite" ng-if="action == 'edit'" ng-model="data.quantite">
            <input type="number" readonly="true" ng-if="action == 'sup'" id="quantite" ng-model="data.quantite">
          </label>
        </div>


        <div class="row" ng-if="edit == true && detailEncaisse == false">
          <div class="col" ng-if="action == 'edit'">
            <button ng-click="valideEdit()" class="button button-block button-assertive footer-button" color="danger"
              type="submit" name="submit"><span style="color:white">Modifier</span></button>
          </div>
          <div class="col" ng-if="action == 'sup'">
            <button ng-click="validerDelet('details')" class="button button-block button-assertive footer-button" color="danger"
              type="submit" name="submit"><span style="color:white">Supprimer</span></button>
          </div>
          <div class="col">
            <button ng-click="annulerEdit('details')" class="button button-block button-assertive footer-button" color="danger"
              type="submit" name="submit"><span style="color:white">Annuler</span></button>
          </div>

        </div>



        <div class="list" ng-if="data.encaisser==false && detailEncaisse == false ">

          <div class="row" style="margin-top: 10px;" ng-if="detailEncaisse == false">
            <div class="col" style="font-size: 130%;">Details Facture</div>
          </div>

          <div class="row header list content-div" ng-if="detailEncaisse == false">
            <div class="col" style="text-align: center;">Article</div>
            <div class="col" style="text-align: center;">Quantité</div>
            <div class="col" style="text-align: center;">Editer</div>
            <div class="col" style="text-align: center;">Supprimer</div>
          </div>

          <div class="row list" ng-repeat="d in data.detailsfactures.details | filter:motcle"
            style="margin-bottom: 50px;">

            <div class="col content-div-row" ng-if="d.idMotif !== 'edit'"
              ng-click="showPopUp(d.article, 1, d.codeArticle)">
              {{d.codeArticle}}
            </div>

            <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'"
              ng-click="showPopUp(d.article, 1, d.codeArticle)">
              {{d.codeArticle}}
            </div>

            <div class="col content-div-row" ng-if="d.idMotif !== 'edit'">{{d.quantite}}</div>

            <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'">{{d.quantite}}</div>


            <div class="col content-div-row" ng-if="d.idMotif !== 'edit'" ng-click="editDetail(d, 'edit')">

              <i class="icon ion-edit"></i>

            </div>

            <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'" ng-click="editDetail(d, 'edit')">

              <i class="icon ion-edit"></i>

            </div>

            <div class="col content-div-row" ng-if="d.idMotif !== 'edit'" ng-click="editDetail(d, 'sup')">

              <i class="icon ion-trash-a"></i>

            </div>

            <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'" ng-click="editDetail(d, 'sup')">

              <i class="icon ion-trash-a"></i>

            </div>

          </div>



        </div>


        <div class="col" ng-if="edit == true && detailEncaisse == true">
          <button class="button button-block button-assertive"
            cancel-button="{{ 'fichevisite_select_pv_return' | translate }}"
            reset-button="{{ 'fichevisite_select_pv_cancel' | translate }}"
            cancel-search-button="{{ 'fichevisite_select_pv_clear' | translate }}"
            search-placeholder="{{ 'fichevisite_select_pv_search' | translate }}" modal-select=""
            ng-model="data.motifchoisit" options="data.listmotifs" option-getter="getOptMotif(option)"
            modal-button-left="{{ 'fichevisite_select_pv_return' | translate }}" modal-title="Selection"
            has-search="true">
            Motif
            <div class="option">
              <h2> {{option.libelle}}</h2>
            </div>
          </button>
        </div>

        <div class="row" ng-if="edit == true && detailEncaisse == true">
          <div class="col" ng-if="action == 'sup'">
            <button ng-click="validerDelet('detailEncaisse')" class="button button-block button-assertive footer-button" color="danger"
              type="submit" name="submit"><span style="color:white">Supprimer</span></button>
          </div>
          <div class="col">
            <button ng-click="annulerEdit('detailEncaisse')" class="button button-block button-assertive footer-button" color="danger"
              type="submit" name="submit"><span style="color:white">Annuler</span></button>
          </div>

        </div>


        <div class="list" ng-if="data.encaisser==false ">

          <div class="row" style="margin-top: 10px;" ng-if="data.detailsfactures.detailsEncaissement.length > 0">
            <div class="col" style="font-size: 130%;">Details Encaissement</div>
          </div>

  

          <div class="row header list content-div" ng-if="data.detailsfactures.detailsEncaissement.length > 0">
            <div class="col" style="text-align: center;">Code commerciale</div>
            <div class="col" style="text-align: center;">Code encaissement</div>
            <div class="col" style="text-align: center;">date</div>
            <div class="col" style="text-align: center;">montant</div>
            <div class="col" style="text-align: center;">Supprimer</div>
          </div>



          <div class="row list" ng-repeat="d in data.detailsfactures.detailsEncaissement | filter:motcle"
            style="margin-bottom: 50px;">

            <div class="col content-div-row" ng-if="d.idMotif !== 'edit'"
              >
              {{d.codeCommerciale}}
            </div>

            <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'"
              >
              {{d.codeCommerciale}}
            </div>

            <div class="col content-div-row" ng-if="d.idMotif !== 'edit'">{{d.codeEncaissement}}</div>

            <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'">{{d.codeEncaissement}}</div>

            <div class="col content-div-row" ng-if="d.idMotif !== 'edit'">{{d.dateAjout}}</div>

            <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'">{{d.dateAjout}}</div>

            <div class="col content-div-row" ng-if="d.idMotif !== 'edit'">{{d.montant}}</div>

            <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'">{{d.montant}}</div>



            <div class="col content-div-row" ng-if="d.idMotif !== 'edit'" ng-click="editDetail(d, 'sup',true)">

              <i class="icon ion-trash-a"></i>

            </div>

            <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'" ng-click="editDetail(d, 'sup', true)">

              <i class="icon ion-trash-a"></i>

            </div>

          </div>

        </div>

        





        </div>

        <div ng-if="data.encaisser" style="margin-top: 40px !important;">
          <div class="row" >

        
            <div class="col">
              <div class="list">

                <label class="item item-input" style="margin-top: 7px;">
                  <span class="input-label">Montant</span>
                  <input type="number" ng-model="data.montant" placeholder="0">
                </label>
              </div>
                
            </div>
       
          </div>

          <div class="row">
            <div class="col">
              <button ng-click="submit()" class="button button-block button-assertive footer-button" color="danger"
                type="submit" name="submit"><span style="color:white">Valider</span></button>
            </div>

            <div class="col">
              <button ng-click="annulerEncaissement()" class="button button-block button-assertive footer-button"
                color="danger" type="submit" name="submit"><span style="color:white">Annuller</span></button>
            </div>

          </div>
        </div>


      </ion-content>


    </div>

    <div class="bar bar-footer footer-button">

      <div class="col mt" ng-if="data.detailsfactures.montantRestant > 0  && !data.encaisser">
        <button ng-click="encaisser()" class="button button-block button-assertive footer-button" color="danger"
          type="submit" name="submit"><span style="color:white">Encaisser</span></button>
      </div>
      
     


    </div>

  </ion-pane>
</ion-view>