<ion-view title=" Details Solde Grossiste" cache-view="false">
    <div ng-app="starter">
  
      <ion-content padding="true" class="has-header">
        <style type="text/css">
          input[readonly] {
            background-color: transparent !important;
            cursor: not-allowed;
          }
          .small_button{
              width: 50% !important;
              height: 50px !important;
              margin-left: 5px;
          }
          .footer-button {
            margin-bottom: 10px;
            height: 50px !important;
          }
          .ml{
            margin-left: 5px;
          }
          .header {
  
            margin-top: 5px;
            margin-bottom: 10px;
          }
          .content-div {
            background: grey !important;
          }
          .content-div-row {
            text-align: center !important;
            border: 3px grey dashed !important;
          }
          .edit {
             background: red !important;
          }
          .map {
            height: 200px !important;
          }
  
        </style>
          <div class="card list" >
  
            <a class="item item-icon-left" >
              <i class="icon ion-person"></i>
              Grossiste : {{data.GrossisteChefZonechoisit.nom}}
            </a>
           

            
           
            <a class="item item-icon-left" >
              <i class="icon ion-android-call"></i>
              Telephone : {{data.GrossisteChefZonechoisit.telephone}}
            </a>


            
            
        </div>
  
    
  
      
  
        <div class="row"  style="margin-top: 10px;">
  
           <div class="col" style="font-size: 130%;">Solde Grossiste</div>
   
        </div>
  
  
        <div class="row header list content-div">
            <div class="col" style="text-align: center;">Numero Facture</div>
            <div class="col" style="text-align: center;">Montant</div>
            <div class="col" style="text-align: center;">Date facture</div>
            <div class="col" style="text-align: center;">Date echeance</div>
            <div class="col" style="text-align: center;">Acompte</div>
            <div class="col" style="text-align: center;">Solde</div>
     
          
        </div>
  
        <div class="row list"  ng-repeat="d in data.GrossisteChefZonechoisit | filter:motcle">
  
            <div class="col content-div-row" ng-if="d.idMotif !== 'edit'" >
              {{d.numeroFac}}
            </div>
  
            <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'" >
              {{d.numeroF}}
            </div>
  
            <div class="col content-div-row" ng-if="d.idMotif !== 'edit'">{{d.montant}}</div>
  
            <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'">{{d.montant}}</div>
  
  
            <div class="col content-div-row" ng-if="d.idMotif !== 'edit'">{{d.dateFac}}</div>
            <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'">{{d.dateFac}}</div>
          
  
            <div class="col content-div-row" ng-if="d.idMotif !== 'edit'">{{d.dateEch}}</div>
            <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'">{{d.dateEch}}</div>

            <div class="col content-div-row" ng-if="d.idMotif !== 'edit'">{{d.acompte}}</div>
            <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'">{{d.acompte}}</div>

            <div class="col content-div-row" ng-if="d.idMotif !== 'edit'">{{d.solde}}</div>
            <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'">{{d.solde}}</div>
        
  
  
        </div>
  
      
  
      </ion-content>
  
    </div>
    </ion-view>
  