<ion-view view-title="Nouvelle PRC" cache-view="false">
  <ion-pane>
    <div ng-app="starter" class="main">

      <ion-content class="padding" delegate-handle="mainScroll">

        <style type="text/css">
          input[readonly] {
            background-color: transparent !important;
            cursor: not-allowed;
          }
          .main{
            height: 1000px !important;
          }
          .small_button{
              width: 50% !important;
              height: 50px !important;
              margin-left: 5px;
          }
          .footer-button {
            margin-bottom: 10px;
            height: 50px !important;
          }
          .ml{
            margin-left: 5px;
          }
          .header {

            margin-top: 5px;
            margin-bottom: 10px;
            background: grey !important;
          }
          .content-div {
            background: grey !important;
          }

          .content-div-row {
            text-align: center !important;
            border: 3px grey dashed !important;
          }
          .div-header {
            margin-bottom: 20px !important;
          }
        ion-scroll p {
                  width: 5000px !important;
                  height: 100px !important;
                  white-space: nowrap  !important;
                  padding: 10px !important;
                  line-height: 100px !important;
              }

          .title{
            color: #28a54c;
            text-decoration: underline;
          }

        </style>
        <div class="row">
          <div class="col">
            <button class="button button-block button-assertive"
            ng-change="changeCLient()"
            cancel-button="{{ 'fichevisite_select_pv_return' | translate }}"
            reset-button="{{ 'fichevisite_select_pv_cancel' | translate }}"
            cancel-search-button="{{ 'fichevisite_select_pv_clear' | translate }}"
            search-placeholder="{{ 'fichevisite_select_pv_search' | translate }}" modal-select=""
            ng-model="data.clientchoisit" options="data.listclients" option-getter="getOptClient(option)"
            modal-button-left="{{ 'fichevisite_select_pv_return' | translate }}" modal-title="Selection"
            has-search="true">
            <label for="" ng-if="!data.clientchoisit">Choisir un client</label>
            <label for="" ng-if="data.clientchoisit">CLIENT:{{data.clientchoisit.nom}}</label>
            <div class="option">
              <h2> {{option.nom}}</h2>
            </div>


          </button>
        </div>
       
        <div class="col" ng-if="data.clientchoisit.idModepaiement == 2">
          <button class="button button-block button-assertive"
          cancel-button="{{ 'fichevisite_select_pv_return' | translate }}"
          reset-button="{{ 'fichevisite_select_pv_cancel' | translate }}"
          cancel-search-button="{{ 'fichevisite_select_pv_clear' | translate }}"
          search-placeholder="{{ 'fichevisite_select_pv_search' | translate }}" modal-select=""
          ng-model="data.modereglementchoisit" options="data.listmodereglements" option-getter="getOptModereglement(option)"
          modal-button-left="{{ 'fichevisite_select_pv_return' | translate }}" modal-title="Selection"
          has-search="true">
          <label for="" ng-if="!data.modereglementchoisit && !data.clientchoisit">Mode de reglement</label>
          <label for="" ng-if="data.modereglementchoisit">REGLEMENT:{{data.modereglementchoisit.libelle}}</label>
          <label for="" ng-if="data.modereglementchoisit == null && data.clientchoisit!==null && data.clientchoisit.idModepaiement == 1">REGLEMENT:COMPTANT</label>
          <label for="" ng-if="data.modereglementchoisit == null && data.clientchoisit!==null && data.clientchoisit.idModepaiement == 2">REGLEMENT:CREDIT</label>
          <div class="option">
            <h2> {{option.libelle}}</h2>
          </div>


        </button>
      </div>
      </div>

      <div class="row" style="margin-top: 10px;">

        <div class="col">
          <button class="button button-block button-assertive"
          cancel-button="{{ 'fichevisite_select_pv_return' | translate }}"
          reset-button="{{ 'fichevisite_select_pv_cancel' | translate }}"
          cancel-search-button="{{ 'fichevisite_select_pv_clear' | translate }}"
          search-placeholder="{{ 'fichevisite_select_pv_search' | translate }}" modal-select=""
          ng-model="data.grossistechoisit" options="data.grossistes" option-getter="getOptGrossiste(option)"
          modal-button-left="{{ 'fichevisite_select_pv_return' | translate }}" modal-title="Selection"
          has-search="true">

          <label for="" ng-if="!data.grossistechoisit">Choisir un Grossiste</label>
          <label for="" ng-if="data.grossistechoisit">GROSSISTE:{{data.grossistechoisit.nom}}</label>
          <div class="option">
            <h2> {{option.nom}}</h2>
          </div>
         </button>
       </div>

      </div>

      <div class="row" style="margin-top: 10px;">

        <div class="col title" style="font-size: 130%;margin-top: 5px;" >Nom du grossiste:</div>
        <div class="col" style="font-size: 130%;margin-top: 5px;" ng-if="!data.clientchoisit.grossiste && !data.grossistechoisit">{{data.clientchoisit.codeGrossiste}}</div>
        <div class="col" style="font-size: 130%;margin-top: 5px;" ng-if="data.clientchoisit.grossiste && !data.grossistechoisit">{{data.clientchoisit.grossiste}}</div>
        <div class="col" style="font-size: 130%;margin-top: 5px;" ng-if="data.grossistechoisit">{{data.grossistechoisit.nom}}</div>  

      </div>

      <div class="row">

        <div class="col">

          <div class="list">
            <label class="item item-input" style="margin-top: 7px;">
              <span class="input-label">Delai de paiement</span>
              <input type="number" ng-model="data.delaipaiement" placeholder="0">
            </label>
          </div>

        </div>

      </div>



      <div class="row title" style="margin-top: 10px;">

        <div class="col" style="font-size: 130%;">Ajouter les details du PRC</div>
  

      </div>

      <div class="row">

        <div class="col">
          <button class="button button-block button-assertive"
          cancel-button="{{ 'fichevisite_select_pv_return' | translate }}"
          reset-button="{{ 'fichevisite_select_pv_cancel' | translate }}"
          cancel-search-button="{{ 'fichevisite_select_pv_clear' | translate }}"
          search-placeholder="{{ 'fichevisite_select_pv_search' | translate }}" modal-select=""
          ng-model="data.artcilechoisit" options="data.listarticles" option-getter="getOptArticle(option)"
          modal-button-left="{{ 'fichevisite_select_pv_return' | translate }}" modal-title="Selection"
          has-search="true">
          Article
         
        <div class="option">
          <div class="row">

              <div class="col" >
                <img src="http://test-test.h-tsoft.com/{{option.image}}" style="width:40%; height: 70%;">
              </div>

              <div class="col" style="font-size: 10px;">
                <label style="font-weight: bold;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Code article :</label> {{option.code}}<br/>
                <label style="font-weight: bold;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Libelle article :</label> {{option.libelle}}
              </div>

            </div>

           

          </div>

        </button>
        </div>
     </div>

     <div class="row">

      <div class="col">

        <div class="list">
          <label class="item item-input" style="margin-top: 7px;">
            <span class="input-label">Quantité</span>
            <input type="number" ng-model="data.quantite" placeholder="0">
          </label>
        </div>

        
      </div>

      <div class="col">

        <div class="list">
          <label class="item item-input" style="margin-top: 7px;">
            <span class="input-label">Prix</span>
            <input type="number" ng-model="data.prix" placeholder="0">
          </label>
        </div>

        
      </div>



    </div>

    <div class="row">

      <div class="col">{{ data.artcilechoisit.libelle }}</div>

    </div>

   

    <div class="row">
      <button ng-click="ajouter()" class="button button-block button-assertive footer-button" color="danger" type="submit"
      name="submit"><span style="color:white">Ajouter detail</span></button>
    </div>

<p>
  <div class="row header list">
    <div class="col" style="text-align: center;">Article</div>
    <div class="col" style="text-align: center;">Quantité</div>
    <div class="col" style="text-align: center;">Prix</div>
    <div class="col" style="text-align: center;">Montant</div>
    <div class="col" style="text-align: center;">Action</div>
  </div>

  <div class="row list"  ng-repeat="d in data.detailsPRC | filter:motcle">

    <div class="col content-div-row" ng-click="showPopUp(d.artcilechoisit.libelle, 1, d.artcilechoisit.code)">
      {{d.artcilechoisit.code}}
    </div>

    <div class="col content-div-row" >
        <label style="margin-top: 10px;">
          {{d.quantite }}
        </label>
    </div>

    <div class="col content-div-row" >
      <label style="margin-top: 10px;">
      {{ number(d.prix) }}
      </label>
    </div>

    <div class="col content-div-row" >
      <label style="margin-top: 10px;">
        {{ number(d.montant) }}
      </label>
    </div>

    <div class="col content-div-row" ng-click="deletObject(d)">

        <i class="icon ion-close"></i>

    </div>
  </div>

    <div >
      <div class="list" >
        
      </div>

      <div class="row" >
        <div class="col" >
         
        </div>

        <div class="col" >
          
        </div>
        
      </div>
    </div>

    <div class="row div-header">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
  </div>

  <div class="col mt">
    <button ng-click="submit('val')" class="button button-block button-assertive footer-button" color="danger" type="submit"
    name="submit"><span style="color:white">Valider PRC</span></button>
  </div>
</p>

</div>

     
</ion-content>


</div>
    <!--<div  class="bar bar-footer footer-button">

    
       
  
        <div class="col mt">
          <button ng-click="submit('val')" class="button button-block button-assertive footer-button" color="danger" type="submit"
          name="submit"><span style="color:white">Valider PRC</span></button>
        </div>

    </div>-->
  </ion-pane>
</ion-view>
