
  <ion-view title="Récupération marchandises" cache-view="false">
    <div ng-app="starter">

      <ion-content  padding="true" class="has-header ion-content">
        <style type="text/css">
          input[readonly] {
            background-color: transparent !important;
            cursor: not-allowed;
          }
          .small_button{
              width: 50% !important;
              height: 50px !important;
              margin-left: 5px;
          }
          .footer-button {
            margin-bottom: 10px;
            height: 50px !important;
          }
          .ml{
            margin-left: 5px;
          }
          .header {

            margin-top: 5px;
            margin-bottom: 10px;
          }
          .content-div {
            background: #1EAC4E !important;
          }
          .content-div-row {
            text-align: center !important;
            border: 3px grey dashed !important;
          }

          .bg {
            background-color: orange !important;
          }
          .ft{

            height: 10% !important;
          }
          .mt {
            margin-bottom: 5px !important;
          }
          .ion-content{
              overflow: scroll;
          }
          .div-data{
            margin-bottom: 100px !important;
          }

        </style>



      <div class="div-data">
        <div class="list" ng-repeat="pds in data.pds | filter:motcle" ng-if="edit == false" >
          <div class="item item-thumbnail-left">

            <img src="./img/prc.jpg">

            <div class="row">
              <div class="col">code</div>
              <div class="col"><p>{{ pds.codePDS }}</p></div>
            </div>

            <div class="row">
              <div class="col">Grossiste</div>
              <div class="col" ng-if="pds.grossiste"><p>{{ pds.grossiste }}</p></div>
              <div class="col" ng-if="pds.grossiste == null"><p>{{ pds.grossistechoisit.nom }}</p></div>
            </div>


            <div class="row" ng-if="pds.grossiste">
              <div class="col">Montant</div>
              <div class="col"><p>{{ pds.montant }}</p></div>
            </div>

            <div class="row">
              <div class="col">Date ajout</div>
              <div class="col"><p>{{ pds.dateAjout | date :  "dd.MM.y" }}</p></div>
            </div>

          </div>

          <div class="row content-div">

            <div class="col"  ng-click="valider(pds)" ng-if="pds.local == true">
              <button class="button button-clear button-assertive" style="color: white;">
                Valider
              </button>
            </div>

            <div class="col" ng-click="goToDetailPds(pds, 'sup')">
              <button class="button button-clear button-assertive" style="color: white;">
                Supprimer
              </button>
            </div>

            

            <div class="col" ng-click="goToDetailPds(pds, 'det')">
              <button class="button button-clear button-assertive" style="color: white;">
                Details
              </button>
            </div>
            <div class="col"  ng-click="editDetail(pds,'sup')" ng-if="pds.local == true">
              <button class="button button-clear button-assertive" style="color: white;">
                Annuler
              </button>
          </div>

        </div>



      </div>
      </div>

      <div>
        <div class="col" ng-if="edit == true" >
          <button class="button button-block button-assertive"
            cancel-button="{{ 'fichevisite_select_pv_return' | translate }}"
            reset-button="{{ 'fichevisite_select_pv_cancel' | translate }}"
            cancel-search-button="{{ 'fichevisite_select_pv_clear' | translate }}"
            search-placeholder="{{ 'fichevisite_select_pv_search' | translate }}" modal-select=""
            ng-model="data.motifchoisit" options="data.listmotifs" option-getter="getOptMotif(option)"
            modal-button-left="{{ 'fichevisite_select_pv_return' | translate }}" modal-title="Selection"
            has-search="true">
            Motif
            <div class="option">
              <h2 > {{option.libelle}}</h2>
            </div>
          </button>
        </div>
      </div>


       <div class="row" ng-if="edit == true">

         <div class="col">{{ data.motifchoisit.libelle }}</div>

      </div>

      <div class="row" ng-if="edit == true">
   
        <div class="col" ng-if="action == 'sup'">
          <button ng-click="validerDelet()" class="button button-block button-assertive footer-button" color="danger" type="submit"
          name="submit"><span style="color:white">Valider</span></button>  
        </div>
        <div class="col">
          <button ng-click="annulerEdit()" class="button button-block button-assertive footer-button" color="danger" type="submit"
          name="submit"><span style="color:white">Annuler</span></button>
        </div>
        
      </div>


      <div class="item item-thumbnail-left" ng-if="edit == true" style="margin-bottom: 30% !important;">

        <img src="./img/prc.jpg">

        <div class="row">
          <div class="col">code</div>
          <div class="col"><p>{{ itemEdit.codePDS }}</p></div>
        </div>

        <div class="row">
          <div class="col">Grossiste</div>
          <div class="col" ng-if="itemEdit.grossiste"><p>{{ itemEdit.grossiste }}</p></div>
          <div class="col" ng-if="itemEdit.grossiste == null"><p>{{ itemEdit.grossistechoisit.nom }}</p></div>
        </div>


        <div class="row" ng-if="itemEdit.grossiste">
          <div class="col">Montant</div>
          <div class="col"><p>{{ itemEdit.montant }}</p></div>
        </div>

        <div class="row">
          <div class="col">Date ajout</div>
          <div class="col"><p>{{ itemEdit.dateAjout | date :  "dd.MM.y" }}</p></div>
        </div>

      </div>


     
      

  </ion-content>

</div>

      <div class="row bar bar-footer ft" >
          <div class="col mt">
            <button ng-click="goToNewPds('nouvelle')" class="button button-block button-assertive footer-button" color="danger" type="submit"
            name="submit"><span style="color:white">Demande sans PRC</span></button>
          </div>

          <div class="col mt">
            <button  ng-click="goToNewPds('recap')" class="button button-block button-assertive footer-button" color="danger" type="submit"
            name="submit"><span style="color:white">Demande avec PRC</span></button>
          </div>
      </div>

    </ion-view>

