


<ion-view title="Planning utilisateur" cache-view="false">
    <div ng-app="starter">

        <ion-content padding="true" class="has-header ion-content">
            <style type="text/css">
                input[readonly] {
                    background-color: transparent !important;
                    cursor: not-allowed;
                }

                .small_button {
                    width: 50% !important;
                    height: 50px !important;
                    margin-left: 5px;
                }

                .footer-button {
                    margin-bottom: 10px;
                    height: 50px !important;
                }

                .ml {
                    margin-left: 5px;
                }

                .header {

                    margin-top: 5px;
                    margin-bottom: 10px;
                }

                .content-div {
                    background: #1EAC4E !important;
                }

                .content-div-row {
                    text-align: center !important;
                    border: 3px grey dashed !important;
                }

                .bg {
                    background-color: #ef473a(25, 0, 255) !important;
                }

                .ft {

                    height: 10% !important;
                }

                .mt {
                    margin-bottom: 5px !important;
                }

                .ion-content {
                    overflow: scroll;
                }

                .div-data {
                    margin-bottom: 100px !important;
                }
            </style>

         

            <div class="row">

                <div class="col">
                    <button class="button button-block button-assertive"
                        cancel-button="{{ 'fichevisite_select_pv_return' | translate }}"
                        reset-button="{{ 'fichevisite_select_pv_cancel' | translate }}"
                        cancel-search-button="{{ 'fichevisite_select_pv_clear' | translate }}"
                        search-placeholder="{{ 'fichevisite_select_pv_search' | translate }}" modal-select=""
                        ng-model="data.UtilisateurChoisit" options="data.listPlanningUsers"
                        option-getter="getOptUser(option)"
                        modal-button-left="{{ 'fichevisite_select_pv_return' | translate }}" modal-title="Selection"
                        has-search="true">
                        <label for="" ng-if="!data.UtilisateurChoisit">Choisir un Utilisateur</label>
                        <label for="" ng-if="data.UtilisateurChoisit">{{data.UtilisateurChoisit.prenom}}
                            {{data.UtilisateurChoisit.nom}}</label>
                        <div class="option">
                            <h2>{{option.prenom}} {{option.nom}}</h2>
                        </div>
                    </button>
                </div>
            </div>

            <label class="item item-input">
                <span class="input-label">Debut</span>
                <input type="text" onfocus="(this.type='date')" ng-model="data.datefilterDebut"
                    placeholder="yyyy-mm-dd">
            </label>
            <label class="item item-input">
                <span class="input-label">Fin</span>
                <input type="text" onfocus="(this.type='date')" ng-model="data.datefilterFin"
                    placeholder="yyyy-mm-dd">
            </label>


    </div>









    </ion-content>

    </div>

    <div class="bar bar-footer footer-button">
        <button ng-click="selectPlanningUser()" class="button button-block button-assertive footer-button" color="danger"><span style="color:white">Valider</span></button>
      </div>

</ion-view>