<ion-view title="Prise de Commande" cache-view="false">
  <div ng-app="starter">

    <ion-content padding="true" class="has-header">
      <style type="text/css">
        input[readonly] {
          background-color: transparent !important;
          cursor: not-allowed;
        }
        .small_button{
            width: 50% !important;
            height: 50px !important;
            margin-left: 5px;
        }
        .footer-button {
          margin-bottom: 10px;
          height: 50px !important;
        }
        .ml{
          margin-left: 5px;
        }
        .header {

          margin-top: 5px;
          margin-bottom: 10px;
        }
        .content-div {
          background: #1EAC4E !important;
        }
        .content-div-row {
          text-align: center !important;
          border: 3px grey dashed !important;
        }
        .bg {
            background-color: #e42112 !important;
          }

      </style>

        <!--<input id="numberTxt" placeholder="Enter mobile number" value="" type="tel" />
        <textarea id="messageTxt" placeholder="Enter message"></textarea>

       <button ng-click="sms_function()" class="button button-block button-assertive footer-button" color="danger" type="submit"
        name="submit"><span style="color:white">Send SMS</span></button>-->

      <div class="list" ng-repeat="prc in data.prcs | filter:motcle">




        <div class="item item-thumbnail-left">

          <img src="./img/prc.jpg">

          <div class="row">
            <div class="col">Code</div>
            <div class="col"><p>{{ prc.codePRC }}</p></div>
          </div>
          <div class="row">
            <div class="col">Adresse</div>
            <div class="col"><p>{{ prc.adresse }}</p></div>
          </div>
          <div class="row">
            <div class="col">Client</div>
            <div class="col"><p>{{ prc.client }}</p></div>
          </div>

          <div class="row">
            <div class="col">Telephone</div>
            <div class="col"><p>{{ prc.telephone }}</p></div>
          </div>

          <div class="row">
            <div class="col">Montant</div>
            <div class="col"><p>{{ prc.montant }}</p></div>
          </div>

          <div class="row">
            <div class="col">Date ajout</div>
            <div class="col"><p>{{ prc.dateAjout | date :  "dd.MM.y" }}</p></div>
          </div>

        </div>

        <div class="row content-div">

          <div class="col"  ng-click="goToFact(prc)">
              <button class="button button-clear button-assertive" style="color: white;">
                Facture
              </button>
          </div>

          <div class="col" ng-click="goToDetailPrc(prc.codePRC)">
            <button class="button button-clear button-assertive" style="color: white;">
              Details
            </button>
          </div>

          <div class="col"  ng-click="goToRecapPrc(prc.codeCommerciale)">
            <button class="button button-clear button-assertive" style="color: white;">
              Supprimer
            </button>
          </div>

      </div>


    </div>

    </ion-content>
    <button class="button button-float bg" ng-click="goToNewPrc()">
      <i class="icon ion-plus"></i>
    </button>
  </div>
  </ion-view>
