<ion-view title="Taux de présence" cache-view="false">
    <div ng-app="starter">

        <ion-content padding="true" class="has-header ion-content">
            <style type="text/css">
                input[readonly] {
                    background-color: transparent !important;
                    cursor: not-allowed;
                }

                .small_button {
                    width: 50% !important;
                    height: 50px !important;
                    margin-left: 5px;
                }

                .footer-button {
                    margin-bottom: 10px;
                    height: 50px !important;
                }

                .ml {
                    margin-left: 5px;
                }

                .header {

                    margin-top: 5px;
                    margin-bottom: 10px;
                }

                .content-div {
                    background: #1EAC4E !important;
                }

                .content-div-row {
                    text-align: center !important;
                    border: 3px grey dashed !important;
                }

                .bg {
                    background-color: #ef473a(25, 0, 255) !important;
                }

                .ft {

                    height: 10% !important;
                }

                .mt {
                    margin-bottom: 5px !important;
                }

                .ion-content {
                    overflow: scroll;
                }

                .div-data {
                    margin-bottom: 100px !important;
                }
            </style>

          

            <div class="row">

                <div class="col">
                    <button class="button button-block button-assertive"
                        cancel-button="{{ 'fichevisite_select_pv_return' | translate }}"
                        reset-button="{{ 'fichevisite_select_pv_cancel' | translate }}"
                        cancel-search-button="{{ 'fichevisite_select_pv_clear' | translate }}"
                        search-placeholder="{{ 'fichevisite_select_pv_search' | translate }}" modal-select=""
                        ng-model="data.clientchoisit" options="data.listtauxclients"
                        option-getter="getOptClient(option)"
                        modal-button-left="{{ 'fichevisite_select_pv_return' | translate }}" modal-title="Selection"
                        has-search="true">
                        <label for="" ng-if="!data.clientchoisit">Choisir un Client</label>
                        <label for="" ng-if="data.clientchoisit">{{data.clientchoisit.nom}}</label>
                        <div class="option">
                            <h2> {{option.nom}}</h2>
                        </div>

                    </button>

                </div>

                <div class="col">
                    <button class="button button-block button-assertive"
                        cancel-button="{{ 'fichevisite_select_pv_return' | translate }}"
                        reset-button="{{ 'fichevisite_select_pv_cancel' | translate }}"
                        cancel-search-button="{{ 'fichevisite_select_pv_clear' | translate }}"
                        search-placeholder="{{ 'fichevisite_select_pv_search' | translate }}" modal-select=""
                        ng-model="data.operationchoisit" options="data.listoperations"
                        option-getter="getOptOperation(option)"
                        modal-button-left="{{ 'fichevisite_select_pv_return' | translate }}" modal-title="Selection"
                        has-search="true">
                        <label for="" ng-if="!data.operationchoisit">Choisir une Opération</label>
                        <label for="" ng-if="data.operationchoisit">
                            {{data.operationchoisit.libelle}}</label>
                        <div class="option">
                            <h2>{{option.libelle}} </h2>
                        </div>
                    </button>
                </div>
            </div>

            <div class="row">

                <div class="col">
                    <div class="list">
                        <label class="item item-input">

                            <input class="obligatoire" style="text-transform: uppercase" type="text" id="raisonSocial"
                                ng-model="data.raisonSociale" placeholder="Raison sociale *">
                            </majuscule>
                        </label>
                    </div>
                </div>


                <!--  ng-style="setBackground()" required="required"-->

            </div>
            <div class="row">

                <div class="col">
                    <div class="list">
                        <label class="item item-input">

                            <input type="number" id="telephone" ng-model="data.telephone"
                                placeholder="Telephone *">
                        </label>
                    </div>
                </div>


                <div class="col">
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" id="adresse" ng-model="data.adresse" placeholder=" Adresse *">
                        </label>
                    </div>
                </div>

                <!--  ng-style="setBackground()" required="required"-->

            </div>

            <div class="row">

                <div class="col">
                    <button class="button button-block button-assertive"
                        cancel-button="{{ 'fichevisite_select_pv_return' | translate }}"
                        reset-button="{{ 'fichevisite_select_pv_cancel' | translate }}"
                        cancel-search-button="{{ 'fichevisite_select_pv_clear' | translate }}"
                        search-placeholder="{{ 'fichevisite_select_pv_search' | translate }}" modal-select=""
                        ng-model="data.artcilechoisit" options="data.listarticles" option-getter="getOptArticle(option)"
                        modal-button-left="{{ 'fichevisite_select_pv_return' | translate }}" modal-title="Selection"
                        has-search="true">
                        <!-- Article -->
                        <label>Article</label>

                        <div class="option">
                            <div class="row">

                                <div class="col">
                                    <img src="http://test-test.h-tsoft.com/{{option.image}}"
                                        style="width:40%; height: 70%;">
                                </div>

                                <div class="col" style="font-size: 10px;">
                                    <label
                                        style="font-weight: bold;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Code
                                        article :</label> {{option.code}}<br />
                                    <label
                                        style="font-weight: bold;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Libelle
                                        article :</label> {{option.libelle}}<br />
                                    <label
                                        style="font-weight: bold;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Poids
                                        article :</label> {{option.poids}}<br />
                                    <label
                                        style="font-weight: bold;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Poids
                                        article :</label> {{option.categorie}}
                                </div>

                            </div>


                        </div>

                    </button>
                </div>
                <div class="col" ng-if="edit == true">
                    <button class="button button-block button-assertive"
                        cancel-button="{{ 'fichevisite_select_pv_return' | translate }}"
                        reset-button="{{ 'fichevisite_select_pv_cancel' | translate }}"
                        cancel-search-button="{{ 'fichevisite_select_pv_clear' | translate }}"
                        search-placeholder="{{ 'fichevisite_select_pv_search' | translate }}" modal-select=""
                        ng-model="data.motifchoisit" options="data.listmotifs" option-getter="getOptMotif(option)"
                        modal-button-left="{{ 'fichevisite_select_pv_return' | translate }}" modal-title="Selection"
                        has-search="true">
                        Motif
                        <div class="option">
                            <h2> {{option.libelle}}</h2>

                        </div>
                    </button>
                </div>
            </div>


            <div class="row">

                <div class="col">{{ data.artcilechoisit.libelle }}</div>
                <div class="col" ng-if="edit == true">{{ data.motifchoisit.libelle }}</div>
            </div>
            <div class="row" >

               

                <div class="col" >
                    <input type="checkbox" id="present" name="present" ng-model="data.present" checked>
                    <label for="present">Présent</label>
                </div>
                
                <div class="col"  ng-if="data.artcilechoisit.categorie === 'TOMATE' ">
                    <input type="checkbox" id="ouvert" name="ouvert" ng-model="data.ouvert" checked>
                    <label for="ouvert">Ouvert</label>
                </div>
            </div>

         

            <div class="row" ng-if="edit == true">
                <div class="col" ng-if="action == 'edit'">
                    <button ng-click="valideEdit()" class="button button-block button-assertive footer-button"
                        color="danger" type="submit" name="submit"><span style="color:white">Modifier</span></button>
                </div>
                <div class="col">
                    <button ng-click="annulerEdit()" class="button button-block button-assertive footer-button"
                        color="danger" type="submit" name="submit"><span style="color:white">Annuler</span></button>
                </div>

            </div>

            <div class="row" ng-if="edit == false">
                <button ng-click="ajouter()" class="button button-block button-assertive footer-button" color="danger"
                    type="submit" name="submit"><span style="color:white">Ajouter detail</span></button>
            </div>

    

    <p>
    <div class="row header list">
        <div class="col" style="text-align: center;">Article</div>
        <div class="col" style="text-align: center;">Present</div>
          <div class="col" style="text-align: center;">Ouvert</div>
        
        <div class="col" style="text-align: center;">Supprimer</div>
    </div>

    <div class="row list" ng-repeat="d in data.detailsPDC | filter:motcle">

        <div class="col content-div-row" ng-if="d.idMotif !== 'edit'"
            ng-click="showPopUp(d.artcilechoisit.libelle, 1, d.artcilechoisit.code)">
            {{d.artcilechoisit.code}}
        </div>
        <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'"
            ng-click="showPopUp(d.artcilechoisit.libelle, 1, d.artcilechoisit.code)">
            {{d.artcilechoisit.code}}
        </div>

       
        <div class="col content-div-row" ng-if="d.idMotif !== 'edit' && d.present === 1" >

          Oui

        </div>

        <div class="col content-div-row" ng-if="d.idMotif !== 'edit' && d.present !== 0" >

            Non

        </div>
     

        <div class="col content-div-row" ng-if="d.idMotif !== 'edit' && d.ouvert === 1"  >

          Oui

        </div>

        <div class="col content-div-row" ng-if="d.idMotif !== 'edit' && d.ouvert !== 0"  >

          Non

        </div>

        <div class="col content-div-row" ng-if="d.idMotif !== 'edit'" ng-click="deletObject(d)">

            <i class="icon ion-trash-a"></i>

        </div>

        <div class="col content-div-row edit" ng-if="d.idMotif === 'edit'" ng-click="deletObject(d)">

            <i class="icon ion-trash-a"></i>

        </div>


    </div>

    <div>
        <div class="list">

        </div>

        <div class="row">
            <div class="col">

            </div>

            <div class="col">

            </div>

        </div>
    </div>

    <div class="row div-header">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>




    </p>






</div>
    </ion-content>

    </div>



    <div class="bar bar-footer footer-button">
        <button ng-click="submit()" class="button button-block button-assertive footer-button" color="danger"><span
                style="color:white">Valider</span></button>
    </div>


</ion-view>