<ion-view view-title="Valeur marchandise camion" cache-view="false">
  
  <ion-pane>
    <div ng-app="starter">

      <ion-content>

        <style type="text/css">
          input[readonly] {
            background-color: transparent !important;
            cursor: not-allowed;
          }

          .small_button {
            width: 50% !important;
            height: 50px !important;
            margin-left: 5px;
          }

          .footer-button {
            margin-bottom: 10px;
            height: 50px !important;
          }

          .ml {
            margin-left: 5px;
          }

          .header {

            margin-top: 5px;
            margin-bottom: 10px;
          }

          .content-div {
            background: grey !important;
          }

          .content-div-row {
            text-align: center !important;
            border: 3px grey dashed !important;
          }

          .edit {
            background: red !important;
          }

          .map {
            height: 200px !important;
          }

          table {
            width: 300px;
            color: white;
          }

          table,
          th,
          td {
            border: solid 1px white;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
            color: white;
            margin-left: 10px;
          }
        </style>

<div class="list" >
  <a class="item item-thumbnail-left">
    <img src="./img/prc.jpg">

    <div class="row">
      <div class="col">Valeur camion</div>
      <div class="col"><p>{{ number(data.listvaleurcamion.montant) }}</p></div>
    </div>
  </a>

 
<div class="row content-div">

 
  <div class="col" ng-click="goToDetailFact(fact.codeFacture)">
    <!-- <button class="button button-clear button-assertive" style="color: white;">
      Details
    </button> -->
  </div>

 

  <div class="col"  ng-click="testPrint(fact)">
    <!-- <button class="button button-clear button-assertive" style="color: white;">
      Voir facture
   </button> -->
 </div>

 <!-- <div class="col" ng-if="fact.montantRestant > 0" >
    <button ng-click="goToEncaissementFact()" class="button button-clear button-assertive" style="color: white;">
      <span class="badge badge-danger" style="background-color: #ef473a !important; color: #ef473a;">0</span>
    </button>
 </div> -->

</div>





        
      </ion-content>


    </div>
    
  </ion-pane>
</ion-view>