<ion-view title="Restant vérsement" cache-view="false">
    <div ng-app="starter">
  
      <ion-content padding="true" class="has-header">
        <style type="text/css">
          input[readonly] {
            background-color: transparent !important;
            cursor: not-allowed;
          }
          .small_button{
              width: 50% !important;
              height: 50px !important;
              margin-left: 5px;
          }
          .footer-button {
            margin-bottom: 10px;
            height: 50px !important;
          }
          .ml{
            margin-left: 5px;
          }
          .header {
  
            margin-top: 5px;
            margin-bottom: 10px;
          }
          .content-div {
            background: #1EAC4E !important;
          }
          .content-div-row {
            text-align: center !important;
            border: 3px grey dashed !important;
          }
          .bg {
              background-color: #e42112 !important;
            }
 
        </style>
        <div class="list" ng-repeat="vers in data.pds_no_payed | filter:motcle">
          <a class="item item-thumbnail-left">
            <img src="./img/prc.jpg">
  
            <div class="row">
              <div class="col text-left">Code</div>
              <div class="col text-right"><p>{{ vers.codePDS }}</p></div>
            </div>

            <div class="row">
              <div class="col text-left">Grossite</div>
              <div class="col text-right"><p>{{ vers.grossiste }}</p></div>
            </div>
  
            <div class="row">
              <div class="col text-left">Date ajout</div>
              <div class="col text-right"><p>{{vers.dateAjout | date :  "dd.MM.y" }}</p></div>
            </div>

            <div class="row">
                <div class="col text-left">M.restant</div>
                <div class="col text-right"><p>{{ number(vers.montantRestant) }}</p></div>
            </div>

            <div class="row">
                <div class="col text-left">M.versé</div>
                <div class="col text-right"><p>{{ number(vers.montantVerse) }}</p></div>
            </div>

            <div class="row">
                <div class="col text-left">M.total versement</div>
                <div class="col text-right"><p>{{ number(vers.totalVersement) }}</p></div>
            </div>
  
          </a>

        <div class="row content-div">
  
          <div class="col">
  
          </div>
  
          <div class="col" >
            <button class="button button-clear button-assertive" style="color: white;">
              
            </button>
        </div>
  
  
        <div class="col" ng-click="goToDetailVersement(vers)">
            <button class="button button-clear button-assertive" style="color: white;">
                Details
            </button>
          </div>
  
      </div>
  
      </div>

     
  
      </ion-content>
    </div>
    </ion-view>
  